src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<flow name="implementationFlow" doc:id="d830adc5-3218-4b3a-b0d3-66c0ae5b9fcf" >
		<logger level="INFO" doc:name="Initial Logger" doc:id="1b139d5e-457b-44b8-a243-5f0f35877a28" message="=======Initial logger========"/>
		<ee:transform doc:name="XML to JSON" doc:id="f009bbca-3efe-4531-9138-2ceab2aa3fb2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json indent=false, duplicateKeyAsArray=true
---
{
    "id": (payload pluck $$)[0],
    "message": payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="85168224-0b77-42e2-86f5-ed5ee3652997" >
			<when expression='#[payload.id == "ZOTC_I11223_FEEDBACK"]'>
				<ee:transform doc:name="Transform Message" doc:id="424fc505-8c18-45c5-bc4d-e3d48fbff1b1" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
if (payload.message.ZOTC_I11223_FEEDBACK."import".PI_FEEDBACK.row is Array
)
    payload.message.ZOTC_I11223_FEEDBACK."import".PI_FEEDBACK.row
else
    [
        payload.message.ZOTC_I11223_FEEDBACK."import".PI_FEEDBACK.row
    ]]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="b94e9ee9-3b46-4531-b540-f46701290d4b" message="#[payload]"/>
				
				<batch:job jobName="Batch3" doc:id="e13e3b97-0bf1-451f-b2b3-42bfc1fbde2b" blockSize="${batch.size}" maxFailedRecords="${batchMaxFailedRecords}" jobInstanceId="#['YOTC_I11223_FEEDBACK Batch Job From ' ++ now() as String {format: 'dd/MM/yy hh:mm:ss:SSS'} ++ (randomInt(99) as String)]">
					<batch:process-records>
						<batch:step name="Batch_Step_1" doc:id="c9be041f-38fe-4792-800c-83de06142386">
							<batch:aggregator doc:name="Batch Aggregator" doc:id="8ca60d98-370a-49df-a51b-f50c9f3e6462" size="${aggregator.size}" preserveMimeTypes="true">
								<ee:transform doc:name="create payload" doc:id="b2255a78-1695-4e48-bc79-110186c91208">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map{
	"headers":{
		"x-mdlz-source-system": "SAP_ERP",
		"x-mdlz-source-system-id": p('UKI.sap.sid') ++ "CLNT" ++ p('UKI.sap.clientid'),
		"x-mdlz-source-system-region": "UKI"
	},
	"paymentType": "feedback",
	"paymentId": $."UNIQUE_ID",
	"referenceNo": $."DOC_NO",
	"printDate": $."DOC_DATE",
	"extMessage": $.MESSAGE,
	"status": $.STATUS
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
								<anypoint-mq:publish doc:name="Publish" doc:id="21e79778-2243-4b8c-bbb6-e06a44e09a3c" config-ref="Anypoint_MQ_Config" destination="${UKI.mq.ZOTC_I11223_FEEDBACK}" />
							</batch:aggregator>
						</batch:step>
						<batch:step name="Batch_Step_2" doc:id="793af7ac-78c4-421a-b9e2-3a2a1ae29f6f" acceptPolicy="ONLY_FAILURES">
							<batch:aggregator doc:name="Batch Aggregator" doc:id="aaa9fd28-77dc-43cb-842c-9ad982c3c297" size="${aggregator.size}" preserveMimeTypes="true">
								<logger level="INFO" doc:name="Failure Logger" doc:id="70bdb85f-2efb-49e2-a058-f7879819b025" message="=====Failed records: #[payload] ======" />
							</batch:aggregator>
						</batch:step>
					</batch:process-records>
				</batch:job>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Invalid RFC ID" doc:id="8383712a-4e7d-4207-895a-3921ba9c38ea" message="========Invalid RFC ID ========="/>
			</otherwise>
		</choice>
	</flow>
</mule>
